body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(241, 240, 240);
    text-shadow: 4px 4px 4px black;
    background-image: url('/static/img/esteponaport.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 750;
}

.navbar-nav .nav-link {
    font-size: 3em;
    padding-top: 1em;
    text-shadow: none;
}

.row {
    padding-left: 3em;
    padding-right: 3em;
}

.card-body {
   text-align: center; 
}

footer {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px black;
    
}
.fa-brands {
    color: white
}
.card {
    border: none;
    background-color: rgba(15, 115, 182, 0.555);
    border-radius: 35px;
}

.card-title {
    color: white;
    font-size: 3.5em;
    text-shadow: 2px 2px 2px black;
}

.post-link {
    text-decoration: none;
}
.post-title {
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 2px black;
}

.post-subtitle {
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
}

.card-text {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.page-link {
    color: black;
    text-shadow: none;
    border-radius: 35px;
}

.container {
    background-color: rgba(15, 115, 182, 0.555);
    border-radius: 3em;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
}

.custom-btn {
    background-color: rgb(15, 115, 182);
    border-color: rgb(15, 115, 182);
    color: white;
    font-size: 15px;
    border-radius: 35px;
    
}

.custom-btn:hover {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.fa-comments {
    color: white;
}

.link {
    color: white;
}

.card-img-top {
    max-width: 35em;
    max-height: 45em;
}

.modal-content {
    color: black;
    font-size: 2em;
    text-shadow: none;
}

.success-contact {
    color: white;
    text-decoration: none;
}

footer {
    background-color: rgba(15, 115, 182, 0.555);
}

.highlight {
    background-color: rgba(15, 115, 182, 0.555);

}