{% extends "base.html" %}
{% load static %}
{% block content %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div style="margin: 80px">
                        <h2 class="text-center">Contact US</h2>
                        <hr>
                        <h3>Contact us directly if you have any queries. We will get in touch with you shorthly.</h3>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="phone" class="form-control" id="phone" name="phone">
                            </div>
                            <div class="form-group">
                                <label>Contact me by:</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="emailRadio" name="contact" value="email">
                                    <label class="form-check-label" for="emailRadio">E-mail</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="phoneRadio" name="contact" value="phone">
                                    <label class="form-check-label" for="phoneRadio">Phone</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="queries">How can we help you?</label>
                                <h4>Please select from dropdown menu.</h4>
                                <select class="form-control" id="queries" name="queries">
                                    <option value="post_a_blog">Post A Blog</option>
                                    <option value="issue_with_profile">Issue With Profile</option>
                                    <option value="recommendations">Recommendations</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea class="form-control" id="message" name="message" rows="5" maxlength="3000" required></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary custom-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
