body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(241, 240, 240);
    text-shadow: 2px 2px 2px black;
    background-image: url('/static/img/esteponaport.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 750;
}

.navbar-nav .nav-link {
    font-size: 2em;
    padding-top: 1em;
}
.row {
    padding-left: 3em;
    padding-right: 3em;
}

.card-body {
   text-align: center; 
}

footer {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.fa-brands {
    color: white
}
.card {
    border: none;
    background-color: rgba(24, 154, 241, 0.315);
}

.card-title {
    color: white;
}

.post-title {
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 2px black;
}

.post-subtitle {
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
}

.card-text {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}